@import 'splitpanes/dist/splitpanes.css';

html {
  --at-apply: font-sans;
  overflow-y: scroll;
  overscroll-behavior: none;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

html.dark {
  color-scheme: dark;
}

body {
  font-size: 16px;
  /* font-family: 'Roboto Mono, Menlo, Consolas, monospace'; */
}

body::-webkit-scrollbar {
  display: none;
}

/* Splitpanes */
.splitpanes__splitter {
  position: relative;
}
.splitpanes__splitter:before {
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.2s ease;
  content: '';
  transition: opacity 0.4s;
  z-index: 1;
}
.splitpanes__splitter:hover:before {
  background: #8881;
  opacity: 1;
}
.splitpanes--vertical > .splitpanes__splitter {
  min-width: 0 !important;
  width: 0 !important;
  @apply border-r border-base;
}
.splitpanes--horizontal > .splitpanes__splitter {
  min-height: 0 !important;
  height: 0 !important;
  --uno: border-t border-base;
}
.splitpanes--vertical > .splitpanes__splitter:before {
  left: -5px;
  right: -4px;
  height: 100%;
}
.splitpanes--horizontal > .splitpanes__splitter:before {
  top: -5px;
  bottom: -4px;
  width: 100%;
}

/* Overrides Floating Vue */
.v-popper--theme-dropdown .v-popper__inner,
.v-popper--theme-tooltip .v-popper__inner {
  --at-apply: bg-base text-black dark:text-white rounded border border-base shadow;
  box-shadow: 0 6px 30px #0000001a;
}

.v-popper--theme-tooltip .v-popper__arrow-inner,
.v-popper--theme-dropdown .v-popper__arrow-inner {
  visibility: visible;
  --at-apply: border-white dark:border-hex-121212;
}

.v-popper--theme-tooltip .v-popper__arrow-outer,
.v-popper--theme-dropdown .v-popper__arrow-outer {
  --at-apply: border-base;
}

.v-popper--theme-tooltip.v-popper--shown,
.v-popper--theme-tooltip.v-popper--shown * {
  transition: none !important;
}

.v-popper--theme-tooltip {
  --at-apply: $ui-z-max-override;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar:horizontal {
  height: 6px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-track {
  background: var(--c-border);
  border-radius: 1px;
}

::-webkit-scrollbar-thumb {
  background: #8881;
  transition: background 0.2s ease;
  border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8885;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar:horizontal {
  height: 6px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-track {
  background: var(--c-border);
  border-radius: 1px;
}

::-webkit-scrollbar-thumb {
  background: #8881;
  transition: background 0.2s ease;
  border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8885;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0 !important;
  height: 0 !important;
}
