@import 'splitpanes/dist/splitpanes.css';

html.dark {
  color-scheme: dark;
}

body {
  font-size: 16px;
  /* font-family: 'Roboto Mono, Menlo, Consolas, monospace'; */
}

/* Splitpanes */
.splitpanes__splitter {
  position: relative;
}

.splitpanes__splitter:before {
  position: absolute;
  left: 0;
  top: 0;
  transition: .2s ease;
  content: '';
  transition: opacity 0.4s;
  z-index: 1;
}

.splitpanes__splitter:hover:before {
  background: #8881;
  opacity: 1;
}

.splitpanes--vertical>.splitpanes__splitter {
  min-width: 0 !important;
  width: 0 !important;
}

.splitpanes--horizontal>.splitpanes__splitter {
  min-height: 0 !important;
  height: 0 !important;
}

.splitpanes--vertical>.splitpanes__splitter:before {
  left: -5px;
  right: -4px;
  height: 100%;
}

.splitpanes--horizontal>.splitpanes__splitter:before {
  top: -5px;
  bottom: -4px;
  width: 100%;
}

.no-scrollbar {
  /* Support Firefox */
  scrollbar-width: none
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0 !important;
  height: 0 !important;
}
