{
  "extends": [
    "@antfu"
  ],
  "globals": {
    "chrome": true
  },
  "rules": {
    "vue/no-v-text-v-html-on-component": "off",
    "no-console": "off",
    "@typescript-eslint/ban-types": "off",
    "n/prefer-global/process": "off",
    "antfu/top-level-function" : "off"
  }
}
